# globals
.idea/
.vscode/
.directory
 
# bin
*.exe
goservice
 
# auto
vendor/
*.pb.go
*_easyjson.go
 
# local
*local.yaml
devtools/
 
# migrations database
data/
mock/data/

# swagger
docs.go
swagger.json
swagger.yaml
